@tailwind base;
@tailwind components;
@tailwind utilities;


.checkbox_css{
    @apply checkbox mr-2 border-black [--chkbg:theme(colors.black)] [--chkfg:white]; 
}

.no-bg-change:focus {
    background-color: inherit !important;
    text-color: inherit !important;
  }
  /* Prevent background color change on active */
  .no-bg-change:active {
    background-color: inherit !important;
    text-color: inherit !important;
  }

  .tooltip:before {
    @apply whitespace-pre-line text-left;
}
/* 
  .no-outline:focus {
    outline: 0 !important;
  }
  .no-outline:active {
    outline: 0 !important;
  } */
.skeleton{
  background-image: linear-gradient(
    105deg,
    transparent 0%,
    transparent 40%,
    #e5e7eb 50%, /* Changed to bg-gray-300 */
    transparent 60%,
    transparent 100%
  );
}
